body {
    background-color: rgb(71, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.links {
    color: #1a73e8;
}

.links:visited {
    color: #1a73e8;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    gap: 5rem;
}


.square {
    background-color: rgba(35, 32, 36, 0.486);
    box-shadow: 0 0 10px #00f0ff, 0 0 25px #00c3ff;    border-radius: 1rem;
    justify-content: top;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    transition: box-shadow 0.5s ease, transform .5s ease, rotate 0.3s ease-in-out;
}

.square:hover {
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #00c3ff;
    background-color: #002f3f;
    transform: scale(1.07) rotate(-3deg);
}

.square-2 {
    box-shadow: 0 0 10px #00f0ff, 0 0 25px #00c3ff;    border-radius: 1rem;
    background-color: rgba(35, 32, 36, 0.486);
    justify-content: top;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    transition: box-shadow 0.5s ease, transform .5s ease, background-color 1s ease;

}

.square-2:hover {
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #00c3ff;
    background-color: #002f3f;
    transform: translateY(-15px);
}

.square-3 {
    background-color: rgba(35, 32, 36, 0.486);
    box-shadow: 0 0 10px #00f0ff, 0 0 25px #00c3ff;  
    border-radius: 1rem;
    justify-content: top;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    transition: box-shadow 0.5s ease, transform .5s ease, rotate 0.3s ease-in-out;

}

.square-3:hover {
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #00c3ff;
    background-color: #002f3f;
    transform: scale(1.07) rotate(+3deg);
}

.portfolio-title {
    text-align: center;
    margin-top: 10rem;
    font-size: 30px;
}

.projects {
    text-align: center;
    margin-top: 15rem;
    font-size: 30px;
}

.throwables {
    margin-top: 2rem;
    margin-right: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    image-rendering: auto;
    width: 40rem;
    height: auto;
    transform: rotate(+5deg);
    transition: transform 0.3s ease-in-out;
}

.throwables-info {
    margin-top: 20rem;
    text-align: right;
    margin-right: 20rem;
}

.throwables-title {
    margin-right: 25rem;
}


.video-sections {
    display: flex;
    flex-wrap: wrap;             
    justify-content: center;
    gap: 20rem;                    
    margin-top: 20rem;
}


.rope-info-container,
.teleport-info-container {
    width: min(90vw, 40rem);     
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px black;
    transition: transform 0.3s ease-in-out;
    margin-left: 15rem;
    margin-bottom: 5rem;
}


.rope-info-container {
    transform: rotate(5deg);
}

.teleport-info-container {
    transform: rotate(-5deg);
}

.rope-video,
.teleport-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.rope-title,
.teleport-title {
    text-align: center;
}

.rope-description,
.teleport-description {
    margin-top: 2rem;
    text-align: center;
}