body {

    background-color: rgb(19, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}


    @media (max-width: 600px) {
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200rem;
        gap: 25rem;
        /* fix the buttons gap */
      }
    }



.links {

    color: #1a73e8;
    line-height: 2rem;

}

.links:visited {

    color: #1a73e8;

}

.portfolio-title {

    text-align: center;
    margin-top: 2rem;
    font-size: 30px;

}


.imgheader {

    margin-top: 10rem;
    border-radius: 50%;
    height: 8rem;
    margin-bottom: 1rem;

}

.avatarimgdiv {

    display: flex;
    justify-content: center;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 15rem;

}

.about-me {

    text-align: center;
    width: 10rem;
    border-width: 20rem;
    font-size: 2rem;
    background-color: #0000002a;
    border: 5px solid;
    border-image: linear-gradient(to right, rgba(0, 174, 255, 0.075), rgba(140, 0, 255, 0.075)) 1;
    box-shadow: 0px -2px 5px #00fff204, 0px 2px 5px #ffffff04;

}

.projects {

    text-align: center;
    width: 10rem;
    border-width: 20rem;
    font-size: 2rem;
    background-color: #0000002a;
    border: 5px solid;
    border-image: linear-gradient(to right, rgba(140, 0, 255, 0.075), rgba(0, 174, 255, 0.075)) 1;
    box-shadow: 0px -2px 5px #00fff204, 0px 2px 5px #ffffff04;

}

.main-link {

    color: #ffffff;
    text-decoration: none;

}

.fourcontainer {
    margin-top: 20rem;
    text-align: center;

}

.fourofour {
    font-size: 10rem;
}

.four-link {
    color: #1a73e8;
    text-decoration: none;

}